/* FONT - ROBOTO */

@font-face {
    font-family: 'Roboto-Black';
    src: url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*******************************/


/*******************************/


/* SECTION */

#home #fullpage .section {
    padding-top: 20px;
    
}

#home #fullpage {
    overflow-x: hidden;
    
}


#home #fullpage #section-katia .section-katia-bckg {
    background-color: #56A7B9;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0.5;
    
    
    animation-name: moveOne;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes moveOne {
    from {
        left: 100%;
/*        opacity: 0;*/
    }
    to {
        left: 0px;
/*        opacity: 1;*/
    }
}

.container {
    padding-left: 0px;
}

#home #fullpage #section-katia .section-katia-content img {
    margin: 0 auto;
    max-width: 100%;
  
    
}


#home #fullpage #section-katia .section-katia-content .section-desc {
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10%;
    text-align: left;
    z-index: 1000;
}

.text {
    margin: 176px 0 176px 50px;
    
}

#home #fullpage #section-katia .section-desc h1 {
    font-family: 'Roboto-Black';
    font-size: 45px;
    line-height: 47px;
    color: black;
    text-transform: uppercase;
    position: relative;
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes flash {
    from {
        bottom: 70px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
}

#home #fullpage #section-katia .section-desc h2 {
    font-family: 'Roboto-Light';
    font-size: 27px;
    color: black;
    text-transform: lowercase;
    margin-top: 0;
    
    animation-name: moveH2;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;   
}

@-webkit-keyframes moveH2 {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


/*  slider  */

.fadeslider {
    width: 700px;
    height: 450px;
    text-align: center;
    overflow: hidden;
}

.fadeslider .slide {
    position: absolute;
    top: 0;
    opacity: 0;
    margin-top: 50px;
    transition: opacity 300ms;
}

.fadeslider .slide.active {
    opacity: 1;
    animation-name: moveimg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; 
}

@-webkit-keyframes moveimg {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


.slidelist {
    position: absolute;
    bottom: 60px;
    left: 735px;
    transition: 300ms;
    color: black;
    cursor: pointer;
    font-family: 'Roboto-Light';
    text-decoration: none;
}

.slidelist h3.active {
    color: #56A7B9;
    font-family: 'Roboto-Regular';
}